div.galeria {
    color: aliceblue;
    text-align: center;
    padding: 20px;
}



div.galeria img {
    width: 100%;
    height: auto;
}

div.galeria:hover {
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie {
    text-align: center;

    padding: 10px;
}