@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #0026fdcb;
    color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos{
    text-align: center;
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #0026fdcb;
    text-decoration: none;

}

.contenido{
    font-size: 23px;
    width: 100%;
}

.contenido textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
    padding: 5px;
  }

.contenido input{
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
    width: 50%;
  }

.especializacion{
    text-align: center;
}  

.contenido select{
    text-align: center;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
    width: 50%;
}

.contenidoServidor{
    text-align: justify;
    font-size: 20px;
}

.formularioC{
    background-color: #0026fdcb;
    color: aliceblue;
}

.formularioD{
    background-color: #0026fdcb;
    color: aliceblue;
}

.tablaP{
    background-color: #0026fdcb;
    color: aliceblue;
}

.formularioDA{
    width: 80%;
    color: aliceblue;
}

.formularioCA{
    color: aliceblue;
}

.botonC{
    width: 30%;
}


@media (min-width:768px){
    .sociales{
        width: auto;
    }

    footer .contenedor{
        justify-content: space-between;
    }

    #blog{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }

    #blog{
        padding-left: 200px;
        padding-right: 200px;
    }
}


